<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>585431124578-m59gjl2qnp1totanc91m6h43rk34phpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585431124578-m59gjl2qnp1totanc91m6h43rk34phpd</string>
	<key>API_KEY</key>
	<string>AIzaSyD1HSea70-Znn6dDuez9pnBqe_ZExJkA5g</string>
	<key>GCM_SENDER_ID</key>
	<string>585431124578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>detroitlabs.RunnerApp</string>
	<key>PROJECT_ID</key>
	<string>project-1435635514540459280</string>
	<key>STORAGE_BUCKET</key>
	<string>project-1435635514540459280.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:585431124578:ios:44b7774c46fdd193</string>
	<key>DATABASE_URL</key>
	<string>https://project-1435635514540459280.firebaseio.com</string>
</dict>
</plist>